.mainContainer {
    flex: 1;
    height: 100%;
    margin: 10px 20px;
    /* min-height: 800px; */
    /* margin: 100px; */
    background-color: rgb(255, 255, 255);
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.aboutMe {
    width: 70%;
    margin: 100px auto;
}