.about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
    height: auto;
    min-height: 75vh;
    color: black;
    padding: 10vh 15vw;
}

.aboutTitle {
    flex: 4;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    font-family: "Nanum Barun Gothic Bold";
}

.fullname {
    font-size: 2em;
    font: bolder;
}

.aboutDetail {
    flex: 6;
    padding: 20px;
}

.aboutTitle, .aboutDetail {
    margin: 80px 0;
    /* border: 1px solid hotpink; */
}

.profileImg {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.about table {
    background-color: rgb(245, 245, 245);
    /* width: 90%; */
}

.about table td {
    border-bottom: 1px solid rgb(69, 69, 69);
    line-height: 2.5em;
    font-size: 1em;
    padding-left: 5px;
}

/* @media screen and (max-width: 1030px) {
    .about {
        
    }

    .about table {
        width: 100%;
    }
} */

@media screen and (max-width: 885px)and (min-width: 700px) {
    /* .about {
        flex-direction: column;
    }
*/
    .aboutTitle {
        flex: 1;
    } 

    .profileImg {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
}

@media screen and (max-width: 699px) {
    .about {
        flex-direction: column;
        min-height: 80vh;
        height: auto;
        padding: 50px 0;
    }

    .aboutTitle, .aboutDetail {
        margin: 5px auto;
    }

    .aboutTitle {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-content: flex-end;
    }

    .shortAboutTitle {
        margin-left: 15px;
    }

    .shortAboutTitle p {
        margin-top: 0;
        margin-bottom: 10px;
    }
    
    .profileImg {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
}

@media screen and (max-width: 330px) {
    .profileImg {
        margin: 20px 0 0 0;
        width: 100px;
        height: 100px;
    }
}