.skillsSection {
    min-height: 70vh;
    height: auto;
    margin: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconContainer {
    width: 60vw;
    border: 1px solid black;
    border-radius: 10px;
    margin: 50px auto;
    padding: 20px 0 40px 0;
}

.skillIcon {
    width: 70px;
    height: 70px;
    margin: 30px 50px;
}

.skillDetail {
    display: inline-block;
    /* border: 1px solid rgb(117, 93, 135); */
    margin: 10px;
}

.levelIndicator {
    width: 90%;
    height: 15px;
    display: flex;
    border: 1px solid rgb(198, 198, 198);
    border-radius: 5px;
}

.levelBar {
    animation: load 5s 0s cubic-bezier(0.35, 0.6, 1, -0.49);
    -webkit-animation: load 5s 0s cubic-bezier(0.35, 0.6, 1, -0.49);
    -moz-animation: load 5s 0s cubic-bezier(0.35, 0.6, 1, -0.49);
    -o-animation: load 5s 0s cubic-bezier(0.35, 0.6, 1, -0.49);
}

@keyframes load{
    from {
        width: 0%
    }
}

@-webkit-keyframes load{
    from {
        width: 0%
    }
}

@-moz-keyframes load{
    from {
        width: 0%
    }
}

@-o-keyframes load{
    from {
        width: 0%
    }
}

@media screen and (max-width: 550px) {
    .iconContainer {
        width: 75vw;
    }

    .skillIcon {
        width: 40px;
        height: 40px;
        margin: 30px 30px;
    }

    .levelIndicator {
        width: 100px;
    }
}

@media screen and (max-width: 330px) {
    .skillIcon {
        width: 40px;
        height: 40px;
        margin: 20px 20px;
    }

    .levelIndicator {
        width: 90px;
    }
}