html {
  scroll-behavior: smooth;  
  font-family: "Nanum Barun Gothic";
  width: 100vw;
}

body {
  width: auto;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Nanum Barun Gothic";
  src: url("./fonts/NanumBarunGothic.ttf");
}

@font-face {
  font-family: "Nanum Barun Gothic Bold";
  src: url("./fonts/NanumBarunGothicBold.ttf");
}
